<div id="new-artifact-<%= handle %>" class="modal">
  <div class="modal-background jb-modal-close"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">New Artifact</p>
        <button class="delete jb-modal-close" aria-label="close"></button>
      </header>

      <%= form_with scope: :artifact, 
          url: new_organization_project_artifact_path(project), 
          method: :post, 
          multipart: true do |form| %>

      <section class="modal-card-body">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <%= form.text_field :name, class: 'input', required: true, autocomplete: :off %>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Description</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <%= form.text_area :description, rows: 40, class: 'input', required: true, autocomplete: :off %>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Image</label>
          </div>
          <div class="field-body">
            <div class="field">
            <div class="field file">
              <label class="upload control">
                <a class="button is-secondary">
                  <span class="icon">
                    <i class="mdi mdi-upload default"></i>
                  </span>
                  <span id="image-input-label">Pick an Image</span>
                </a>
                <%= form.file_field :image, id: 'image-input' %>
              </label>
              <%= image_tag asset_path('placeholder.png'), alt: "No artifact image available", id: 'preview' %>
            </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button type="button" class="button jb-modal-close">Cancel</button>
        <button type="button" class="button is-secondary" id="btn-remove-image">Remove Image</button>
        <button type="submit" class="button is-primary">Create Artifact</button>
      </footer>

      <% end %>

    </div>
  <button class="modal-close is-large jb-modal-close" aria-label="close"></button>
</div>

<script>
  const btnRemoveImage = document.querySelector('#btn-remove-image');
  const fileInput = document.querySelector('#image-input');
  const fileInputLabel = document.querySelector('#image-input-label');
  const preview = document.querySelector('#preview');
  const defaultImageURL = preview.src;

  fileInput.addEventListener('change', () => {
    const uploadedImage = fileInput.files[0]
    fileInputLabel.textContent = uploadedImage.name
    preview.src = URL.createObjectURL(uploadedImage)
  })

  btnRemoveImage.addEventListener('click', () => {
    fileInput.value = '';
    fileInputLabel.textContent = 'Pick an Image'
    preview.src = defaultImageURL
  })
</script>