<div id="view-artifact-<%= handle %>" class="modal">
  <div class="modal-background jb-modal-close"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        <strong><%= artifact.name %></strong>
      </p>
      <button class="delete jb-modal-close" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="artifact-image">
        <% if artifact.image_url %>
          <img src="<%= artifact.image_url %>" alt="<% artifact.name %>"/>
        <% else %>
          <%= image_tag asset_path('placeholder.png'), alt: "No artifact image available" %>
        <% end %>
      </div>
      <div class="artifact-description">
        <%= artifact.description %>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button jb-modal-close">Close</button>
    </footer>
  </div>
  <button class="modal-close is-large jb-modal-close" aria-label="close"></button>
</div>
