<aside class="aside is-placed-left is-expanded">
  <div class="aside-tools">
    <div class="aside-tools-label" style="display: flex; align-items: center">
      <%= image_tag asset_path('proyekto.png'), 'style': 'width: 60%' %>
    </div>
  </div>
  <div class="menu is-menu-main">
    <p class="menu-label">General</p>
    <ul class="menu-list">
      <li>
        <a  href="<%= organization_dashboard_path %>" 
            class='<% if params[:action] == 'dashboard' %>is-active<% end %> router-link-active has-icon'>
          <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
          <span class="menu-item-label">Dashboard</span>
        </a>
      </li>
    </ul>
    <p class="menu-label">Options</p>
    <ul class="menu-list">
      <li>
        <a  href="<%= organization_projects_path %>" 
            class="has-icon <% if params[:action] == 'projects' %>is-active<% end %>">
          <span class="icon"><i class="mdi mdi-table"></i></span>
          <span class="menu-item-label">Projects</span>
        </a>
      </li>
      <li>
        <a  href="<%= orgazniation_artifacts_path %>" 
            class="has-icon <% if params[:action] == 'artifacts' %>is-active<% end %>">
          <span class="icon"><i class="mdi mdi-hexagon-slice-6"></i></span>
          <span class="menu-item-label">Artifacts</span>
        </a>
      </li>
      <li>
        <a  href="<%= orgazniation_colleagues_path %>" 
            class="has-icon <% if params[:action] == 'colleagues' %>is-active<% end %>">
          <span class="icon"><i class="mdi mdi-account-circle"></i></span>
          <span class="menu-item-label">Colleagues</span>
        </a>
      </li>
    </ul>
  </div>
</aside>