<section class="section hero is-fullheight is-error-section signin-section">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-two-fifths">
          <div class="card has-card-header-background">
            <a href="<%= root_path %>">
              <header class="card-header">
                <%= image_tag asset_path('proyekto.png'), 'style': 'width: 60%' %>
              </header>
            </a>
            <div class="card-content">

              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                <div class="field">
                  <label class="label">E-mail Address</label>
                  <div class="control">
                    <%= f.email_field :email, class: 'input', autofocus: true, autocomplete: "off" %>
                  </div>
                </div>
                
                <div class="field">
                  <label class="label">Password</label>
                  <div class="control">
                    <%= f.password_field :password, class: 'input', autocomplete: "off" %>
                  </div>
                </div>

                <% if devise_mapping.rememberable? %>
                  <div class="field">
                    <label class="b-checkbox checkbox is-thin">
                      <%= f.check_box :remember_me, value: false %>
                      <span class="check is-black"></span>
                      <span class="control-label">Remember me</span>
                    </label>
                  </div>
                <% end %>

                <hr>
                <div class="field is-grouped">
                  <%= f.submit "Signin", class: "button is-white is-fullwidth" %>
                </div>

                <div class="field is-grouped shared-links">
                  <%= render "users/shared/links" %>
                </div>

              <% end %>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot has-text-centered">
    <div class="logo"></div>
  </div>
</section>