<%= render 'components/breadcrumb', breadcrumbs: [] %>

<section class="section is-main-section">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="card tile is-child">
        <div class="card-content">
          <div class="level is-mobile">
            <div class="level-item">
              <div class="is-widget-label"><h3 class="subtitle is-spaced">
                Staffs
              </h3>
                <h1 class="title">
                  <%= @num_of_staffs %>
                </h1>
              </div>
            </div>
            <div class="level-item has-widget-icon">
              <div class="is-widget-icon"><span class="icon has-text-primary is-large"><i
                  class="mdi mdi-account-multiple mdi-48px"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="card tile is-child">
        <div class="card-content">
          <div class="level is-mobile">
            <div class="level-item">
              <div class="is-widget-label"><h3 class="subtitle is-spaced">
                Projects
              </h3>
                <h1 class="title">
                  <%= @num_of_projects %>
                </h1>
              </div>
            </div>
            <div class="level-item has-widget-icon">
              <div class="is-widget-icon">
                <span class="icon has-text-info is-large">
                  <i class="mdi mdi-table mdi-48px"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="card tile is-child">
        <div class="card-content">
          <div class="level is-mobile">
            <div class="level-item">
              <div class="is-widget-label"><h3 class="subtitle is-spaced">
                Artifacts
              </h3>
                <h1 class="title">
                  <%= @num_of_artifacts %>
                </h1>
              </div>
            </div>
            <div class="level-item has-widget-icon">
              <div class="is-widget-icon"><span class="icon has-text-success is-large"><i
                  class="mdi mdi-hexagon-slice-6 mdi-48px"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        <span class="icon"><i class="mdi mdi-hexagon-slice-6"></i></span>
        Produced Artifacts (Daily Report)
      </p>
      <a href="#" class="card-header-icon">
        <span class="icon"><i class="mdi mdi-reload"></i></span>
      </a>
    </header>
    <div class="card-content">
      <div class="chart-area">
        <div style="height: 100%;">
          <div class="chartjs-size-monitor">
            <div class="chartjs-size-monitor-expand">
              <div></div>
            </div>
            <div class="chartjs-size-monitor-shrink">
              <div></div>
            </div>
          </div>
          <canvas id="big-line-chart" width="2992" height="1000" class="chartjs-render-monitor" style="display: block; height: 400px; width: 1197px;"></canvas>
        </div>
      </div>
    </div>
  </div>
</section>

<script>

  function renderChart() {
    let ctx = document.getElementById('big-line-chart').getContext('2d');
    let data = <%== @produced_artifacts %>
    let labels = data.map(dataArray => dataArray[0])
    let numbers = data.map(dataArray => dataArray[1])

    new Chart(ctx, {
      type: 'line',
      data: {
        datasets: [{
          fill: false,
          borderColor: '#00D1B2',
          borderWidth: 2,
          borderDash: [],
          borderDashOffset: 0.0,
          pointBackgroundColor: '#00D1B2',
          pointBorderColor: 'rgba(255,255,255,0)',
          pointHoverBackgroundColor: '#00D1B2',
          pointBorderWidth: 20,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 15,
          pointRadius: 4,
          data: numbers
        }],
        labels
      },
      options: {
        maintainAspectRatio: false,
        legend: {
          display: false
        },
        responsive: true,
        tooltips: {
          backgroundColor: '#f5f5f5',
          titleFontColor: '#333',
          bodyFontColor: '#666',
          bodySpacing: 4,
          xPadding: 12,
          mode: 'nearest',
          intersect: 0,
          position: 'nearest'
        },
        scales: {
          yAxes: [{
            barPercentage: 1.6,
            gridLines: {
              drawBorder: false,
              color: 'rgba(29,140,248,0.0)',
              zeroLineColor: 'transparent'
            },
            ticks: {
              padding: 20,
              fontColor: '#9a9a9a'
            }
          }],
          xAxes: [{
            barPercentage: 1.6,
            gridLines: {
              drawBorder: false,
              color: 'rgba(225,78,202,0.1)',
              zeroLineColor: 'transparent'
            },
            ticks: {
              padding: 20,
              fontColor: '#9a9a9a'
            }
          }]
        }
      }
    });
  }

  appendToBodyAndExecuteOnLoad(renderChart)

</script>