<% handle = "#{@project.id}-#{@project.name.parameterize}" %>
<% breadcrumb_one = { label: 'Projects', url: organization_projects_path } %>
<%= render 'components/breadcrumb', breadcrumbs: [breadcrumb_one, @project.name] %>
<%= render 'components/modal_project_delete', project: @project, handle: handle %>
<%= render 'components/modal_project_update', project: @project, handle: handle %>
<%= render 'components/modal_artifact_new', project: @project, handle: handle %>

<section class="section section-main">

  <div class="card project-header">
    <div class="level" style="align-items: flex-start">
      <div class="level-left">
        <ul>
          <li>Project Name: <strong><%= @project.name %></strong></li>
          <li>Project Creation: <strong><%= @project.created_at %></strong></li>
          <li>Last Update: <strong><%= @project.updated_at %></strong></li>
        </ul>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="buttons is-right">
            <button class="button is-primary jb-modal" data-target="new-artifact-<%= handle %>">
              <span class="icon"><i class="mdi mdi-plus-circle"></i></span>
              <span>Artifact</span>
            </button>
            <button class="button is-warning jb-modal" data-target="update-project-<%= handle %>">
              <span class="icon"><i class="mdi mdi-pencil"></i></span>
              <span>Update</span>
            </button>
            <button class="button is-danger jb-modal" data-target="delete-project-<%= handle %>">
              <span class="icon"><i class="mdi mdi-window-close"></i></span>
              <span>Delete</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <header class="card-header">
    <p class="card-header-title">
      <span class="icon"><i class="mdi mdi-hexagon-slice-6"></i></span>
      <%= @artifacts.size %> Artifacts
    </p>
  </header>

  <div class="tile is-ancestor tile-is-ancestor-custom">
    <% @artifacts.each do |artifact| %>

      <div class="tile is-parent tile-is-parent-custom artifact-card">
        <div class="card tile is-child tile-is-child-custom">
          <div class="card-content">

            <div class="level artifact-card-image-container">
              <% if artifact.image_url %>
                <img src="<%= artifact.image_url %>" alt="<% artifact.name %>"/>
              <% else %>
                <%= image_tag asset_path('placeholder.png'), alt: "No artifact image available" %>
              <% end %>
            </div>

            <div class="level is-mobile artifact-card-name-container">
              <h5 class="subtitle is-spaced has-text-weight-bold">
                <%= artifact.name %>
              </h5>
            </div>

            <div class="is-clearfix artifact-card-description-container">
              <%= artifact.description[0..55] + ' ...' %>
            </div>

          </div>
        </div>
      </div>

    <% end %>
  </div>
</section>