<%= render 'components/breadcrumb', breadcrumbs: ['Projects'] %>

<% @projects.reverse_order! %>

<section class="section section-main">
  <div class="tile is-ancestor tile-is-ancestor-custom">

    <% @projects.each do |project| %>
      <% handle = "#{project.id}-#{project.name.parameterize}" %>
    
      <div class="tile is-parent tile-is-parent-custom <% if project.disabled %>project-is-disabled is-disabled<% end %>" data-disabled="<% if project.disabled %>true<% else %>false<% end %>">
        <div class="card tile is-child tile-is-child-custom">
          <div class="card-content">
            <div class="level is-mobile">
              <h3 class="subtitle is-spaced">
                <a <% unless project.disabled %>href="<%= organization_project_path(project) %>"<% end %> >
                  <%= project.name %>
                </a>
              </h3>
            </div>
              <div class="is-clearfix">
                <button class="button is-small is-danger is-pulled-right ml-1 <% unless project.disabled %>jb-modal<% end %>" 
                  type="button" 
                  data-target="<% unless project.disabled %>delete-project-<%= handle %><% end %>"
                  data-disabled="<% if project.disabled %>true<% else %>false<% end %>"
                > 
                  <span class="icon"><i class="mdi mdi-window-close"></i></span>
                </button>
                <button class="button is-small is-warning is-pulled-right ml-1 <% unless project.disabled %>jb-modal<% end %>" 
                  type="button"
                  data-target="<% unless project.disabled %>update-project-<%= handle %><% end %>"
                  data-disabled="<% if project.disabled %>true<% else %>false<% end %>"
                >
                  <span class="icon"><i class="mdi mdi-pencil"></i></span>
                </button>
              </div>
          </div>
        </div>
      </div>

      <%= render 'components/modal_project_delete', project: project, handle: handle %>
      <%= render 'components/modal_project_update', project: project, handle: handle %>

    <% end %>

  </div>
</section>