<section class="section hero is-fullheight is-error-section password-reset-section">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-two-fifths">
          <div class="card has-card-header-background">
            <a href="<%= root_path %>">
              <header class="card-header">
                <%= image_tag asset_path('proyekto.png'), 'style': 'width: 60%' %>
              </header>
            </a>
            <div class="card-content">

              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

                <div class="field">
                  <label class="label">E-mail Address</label>
                  <div class="control">
                    <%= f.email_field :email, class: 'input', autofocus: true, autocomplete: "off" %>
                  </div>
                </div>

                <hr>
                <div class="field is-grouped">
                  <%= f.submit "Reset Password", class: "button is-white is-fullwidth" %>
                </div>

                <div class="field is-grouped shared-links">
                  <%= render "users/shared/links" %>
                </div>

              <% end %>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot has-text-centered">
    <div class="logo"></div>
  </div>
</section>
