<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/meta_headers' %>
  </head>

  <body>
    <%= render 'components/navigation' %>
    <%= render 'components/sidebar' %>
    <%= yield %>
    <%= render 'components/footer' %>

    <%= render 'components/modal_logout' %>
    <%= render 'components/modal_project_new' %>
    <%= render 'components/modal_colleague_new' %>
    <%= render 'components/modal_plan' %>
  </body>

  <%= javascript_pack_tag 'main', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'toast', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'chart', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'chart_sample', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'payment_adapter', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'multi_step_form', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'aos', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">

  <script>
    document.addEventListener('turbolinks:load', () => {
      const element = document.getElementsByTagName('html')[0]
      const className = 'has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded'
      element.className == className ? null : element.className = className
    })

    window.notification = new window.HTMLElementToaster()
    window.notification.initialize()

    document.querySelectorAll("[data-disabled='true']").forEach(el => {
      el.addEventListener('click', () => {
        const restrictedMessage = `
          Resource is disabled due to plan restrictions.
          Please upgrade your plan to regain access.
        `;
        window.notification.showMessage(restrictedMessage, 'error')
      })
    });

    <% if notice %>window.notification.showMessage(`<%= notice %>`, 'success');<% end %>
    <% if alert %>window.notification.showMessage(`<%= alert %>`, 'error');<% end %>
  </script>
</html>
