<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
  <head>
    <%= render 'layouts/meta_headers' %>
  </head>

  <body>
  
    <%= render 'components/navigation' %>
    <%= render 'components/sidebar' %>
    <%= yield %>
    <%= render 'components/footer' %>

    <%# LOGOUT MODAL %>

    <div id="logout" class="modal">
      <div class="modal-background jb-modal-close"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Confirm action</p>
          <button class="delete jb-modal-close" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
          <p>Are you sure you want to logout?</p>
        </section>
        <footer class="modal-card-foot">
          <button class="button jb-modal-close">Cancel</button>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'button is-danger' %>
        </footer>
      </div>
      <button class="modal-close is-large jb-modal-close" aria-label="close"></button>
    </div>

  </body>

  <%= javascript_pack_tag 'main', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'chart', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'chart_sample', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
</html>
