<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
  <head>
    <%= render 'layouts/meta_headers' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <%= javascript_pack_tag 'main', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'chart', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'chart_sample', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
</html>
