<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
  <head>
    <%= render 'layouts/meta_headers' %>
  </head>

  <body>

    <% if notice %>
      <div class="alert alert-primary alert-dismissible fade show mx-auto mt-5" role="alert" style="width: 80%">
        <p class="notice"><%= notice %></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    
    <% if alert %>
      <div class="alert alert-danger mx-auto mt-5" role="alert" style="width: 80%">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
  
    <%= render 'components/navigation' %>
    <%= render 'components/sidebar' %>
    <%= yield %>
    <%= render 'components/footer' %>

    <%= render 'components/modal_logout' %>
    <%= render 'components/modal_project_new' %>
    <%= render 'components/modal_colleague_new' %>

  </body>

  <%= javascript_pack_tag 'main', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'chart', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'chart_sample', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
</html>
