<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/meta_headers' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <%= javascript_pack_tag 'main', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'components/toast', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'vendors/aos', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'vendors/rellax', 'data-turbolinks-track': 'reload' %>

  <script>
    window.notification = new window.HTMLElementToaster()
    window.notification.initialize()
    <% if notice %>window.notification.showMessage(`<%= notice %>`, 'success');<% end %>
    <% if alert %>window.notification.showMessage(`<%= alert %>`, 'error');<% end %>
  </script>
</html>
