<section class="section hero is-fullheight is-error-section signup-section">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-two-fifths">
          <div class="card has-card-header-background">
            <header class="card-header">
              <%= image_tag asset_path('proyekto.png'), 'style': 'width: 60%' %>
            </header>
            <div class="card-content">

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

                <div class="field">
                  <label class="label">E-mail Address</label>
                  <div class="control">
                    <%= f.email_field :email, class: 'input', autofocus: true, autocomplete: "off" %>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Full Name</label>
                  <div class="control">
                    <%= f.text_field :full_name, class: 'input', autofocus: true, autocomplete: "off" %>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Organization</label>
                  <div class="control">
                    <%= f.text_field :organization,  class: 'input', autofocus: true, autocomplete: "off" %>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Password</label>
                  <div class="control">
                      <%= f.password_field :password, class: 'input', autocomplete: "off" %>
                  </div>
                  <% if @minimum_password_length %>
                    <p class="help"><%= @minimum_password_length %> characters minimum</p>
                  <% end %>
                </div>

                <div class="field">
                  <label class="label">Password Confirmation</label>
                  <div class="control">
                    <%= f.password_field :password_confirmation, class: 'input', autocomplete: "off" %>
                  </div>
                </div>

                <hr>
                <div class="field is-grouped">
                  <%= f.submit "Signup", class: "button is-white is-fullwidth" %>
                </div>

                <div class="field is-grouped shared-links">
                  <%= render "users/shared/links" %>
                </div>

              <% end %>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot has-text-centered">
    <div class="logo"></div>
  </div>
</section>
